.heading {
    background-color: purple;
    color: green;
}
#test {
    color: purple;
    background-color: green;
}
div {
    display: inline-block;
    width: 200px;
    border: solid 1px black;
}